@page
@model mpa.Pages.AboutModel
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@{
  ViewData["Title"] = "About";
}

<div class="text-center">
  <h1 class="display-4">About</h1>
</div>

<div id="app">

</div>

@section HeadScripts {
  <link href="@env.GetBundlePath("about")" rel="modulepreload" as="script">
}

@section Scripts {
  <script type="module" src="@env.GetBundlePath("about")"></script>
  @if (env.IsClientSideProductionBuild())
  {
    <script src="@env.GetBundlePath("about-legacy")" nomodule></script>
  }
}
